_/Chapter_10/PartC/ReservationBPEL/src/Itinerary_SA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Itinerary_SA" targetNamespace="http://j2ee.netbeans.org/wsdl/Itinerary_SA" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/Itinerary_SA" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="ITINERARY.xsd"/>
	</xsd:schema>
  </types>
  <message name="outputMsg">
    <part name="part" element="ns:ITINERARY"/>
  </message>
  <message name="insertRetMsg">
    <part name="part" type="xsd:int"/>
  </message>
  <message name="inputMsg">
    <part name="part" element="ns:ITINERARY"/>
  </message>
  <portType name="jdbcPortType">
    <operation name="insert">
      <input name="inputInsert" message="tns:inputMsg"/>
      <output name="outputInsert" message="tns:insertRetMsg"/>
    </operation>
    <operation name="update">
      <input name="inputUpdate" message="tns:inputMsg"/>
    </operation>
    <operation name="delete">
      <input name="inputDelete" message="tns:inputMsg"/>
    </operation>
    <operation name="find">
      <input name="inputFind" message="tns:inputMsg"/>
      <output name="outputFind" message="tns:outputMsg"/>
    </operation>
    <operation name="pollrecords">
      <input name="inputPoll" message="tns:inputMsg"/>
    </operation>
  </portType>
  <binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="GUESTID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="SOUTHAIR.ITINERARY" Transaction="NOTransaction" numberOfRecords="" operationType="insert" paramOrder="SEQID,FIRSTNAME,FOODPREFERENCE,SOURCE,GUESTID,SEATPREFERENCE,DESTINATION,TRAVELDATE,LASTNAME" sql="insert into &quot;SOUTHAIR&quot;.&quot;ITINERARY&quot; (&quot;SEQID&quot;,&quot;FIRSTNAME&quot;,&quot;FOODPREFERENCE&quot;,&quot;SOURCE&quot;,&quot;GUESTID&quot;,&quot;SEATPREFERENCE&quot;,&quot;DESTINATION&quot;,&quot;TRAVELDATE&quot;,&quot;LASTNAME&quot;) values (?,?,?,?,?,?,?,?,?)"/>
      </input>
      <output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="GUESTID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="SOUTHAIR.ITINERARY" Transaction="NOTransaction" numberOfRecords="" operationType="update" paramOrder="SEQID,FIRSTNAME,FOODPREFERENCE,SOURCE,GUESTID,SEATPREFERENCE,DESTINATION,TRAVELDATE,LASTNAME" sql="update &quot;SOUTHAIR&quot;.&quot;ITINERARY&quot; set &quot;ITINERARY&quot;.&quot;SEQID&quot;  = ?,&quot;ITINERARY&quot;.&quot;FIRSTNAME&quot;  = ?,&quot;ITINERARY&quot;.&quot;FOODPREFERENCE&quot;  = ?,&quot;ITINERARY&quot;.&quot;SOURCE&quot;  = ?,&quot;ITINERARY&quot;.&quot;GUESTID&quot;  = ?,&quot;ITINERARY&quot;.&quot;SEATPREFERENCE&quot;  = ?,&quot;ITINERARY&quot;.&quot;DESTINATION&quot;  = ?,&quot;ITINERARY&quot;.&quot;TRAVELDATE&quot;  = ?,&quot;ITINERARY&quot;.&quot;LASTNAME&quot;  = ?"/>
      </input>
    </operation>
    <operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="GUESTID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="SOUTHAIR.ITINERARY" Transaction="NOTransaction" numberOfRecords="" operationType="delete" paramOrder="" sql="delete from &quot;SOUTHAIR&quot;.&quot;ITINERARY&quot;"/>
      </input>
    </operation>
    <operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="GUESTID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="SOUTHAIR.ITINERARY" Transaction="NOTransaction" numberOfRecords="" operationType="find" paramOrder="" sql="select &quot;SEQID&quot;,&quot;FIRSTNAME&quot;,&quot;FOODPREFERENCE&quot;,&quot;SOURCE&quot;,&quot;GUESTID&quot;,&quot;SEATPREFERENCE&quot;,&quot;DESTINATION&quot;,&quot;TRAVELDATE&quot;,&quot;LASTNAME&quot; from &quot;SOUTHAIR&quot;.&quot;ITINERARY&quot;"/>
      </input>
      <output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="GUESTID" PollMilliSeconds="5000" PollingPostProcessing="Delete" TableName="SOUTHAIR.ITINERARY" Transaction="NOTransaction" numberOfRecords="" operationType="poll" paramOrder="" sql="select &quot;SEQID&quot;,&quot;FIRSTNAME&quot;,&quot;FOODPREFERENCE&quot;,&quot;SOURCE&quot;,&quot;GUESTID&quot;,&quot;SEATPREFERENCE&quot;,&quot;DESTINATION&quot;,&quot;TRAVELDATE&quot;,&quot;LASTNAME&quot; from &quot;SOUTHAIR&quot;.&quot;ITINERARY&quot;"/>
      </input>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/southair"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</definitions>
