_/Chapter_10/PartF/ReservationBPEL/src/Partners/WestAir_WSService/WestAir_WS_xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><xs:schema xmlns:tns="http://westair.airalliance.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://westair.airalliance.org/">

<xs:element name="processReservation" type="tns:processReservation"></xs:element>

<xs:element name="processReservationResponse" type="tns:processReservationResponse"></xs:element>

<xs:complexType name="processReservation">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="destination" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="travelDate" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seatPreference" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foodPreference" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seqID" type="xs:int"></xs:element>
<xs:element name="guestID" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>