_/Chapter_10/PartD/ReservationBPEL/src/Partners/NorthAirWS/NorthAirWS_xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-187-. --><xs:schema xmlns:tns="http://northair.airalliance.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://northair.airalliance.org/">

<xs:element name="processItinerary" type="tns:processItinerary"></xs:element>

<xs:element name="processItineraryResponse" type="tns:processItineraryResponse"></xs:element>

<xs:complexType name="processItinerary">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="destination" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="travelDate" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seatPreference" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foodPreference" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="guestID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seqID" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processItineraryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>